/* Basic reset and font settings */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    padding-top: 50px; /
}

/* Navigation bar styling */
nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 0 0 15px 15px; 
    z-index: 1000; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center; 
}

nav ul li {
    margin: 0 20px; 
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease; 
}

nav ul li a:hover {
    color: grey; 
}

/* Header content styling */
header {
    background-size: cover;
    height: 100vh; 
    color: white;
    background-position: center;
    background-image: url('static/image-asset.jpeg'); 
}


.header-content {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

h1 {
    font-size: 4em; 
    margin-bottom: 0.5em; 
}

p {
    font-size: 1.5em; 
    margin-bottom: 1em; 
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: red; 
    color: white;
    text-decoration: none;
    border-radius: 5px; 
    font-weight: bold;
}

.image-gallery {
    width: 100%;
    overflow-x: auto; 
}

.gallery-container {
    display: flex; 
    width: 100%; 
}

.gallery-container img {
    flex: 1 1 auto; 
    width: 25%; 
    height: auto; 
    object-fit: cover; 
}

.gallery-item {
    position: relative;
    width: 300px; /* Adjust width as necessary */
    height: 300px; /* Adjust height as necessary */
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease; /* Smooth transition for zoom effect */
}

.gallery-item:hover img {
    transform: scale(1.1); /* Zoom effect on hover */
}

.gallery-item::after {
    content: "Learn More";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 20px; /* Adjust font size as needed */
}

.gallery-item:hover::after {
    opacity: 1;
}


.timeline-section {
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4; 
    margin-top: 20px;
}

.timeline-section h2 {
    color: #333; 
    font-size: 2em;
}

.timeline-section img {
    width: 100%; 
    max-width: 600px; 
    height: auto; 
    margin: 20px 0; 
}

.timeline-section p {
    color: #666; 
    font-size: 1.2em;
    max-width: 80%;
    margin: auto; 
}





